<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.homemaker.mapper.RefundMapper">

    <resultMap id="RefundVOResultMap" type="com.homemaker.entity.RefundVo">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_status" property="orderStatus"/>
        <result column="payment_id" property="paymentId"/>
        <result column="refund_no" property="refundNo"/>
        <result column="transaction_id" property="transactionId"/>
        <result column="out_refund_no" property="outRefundNo"/>
        <result column="refund_amount" property="refundAmount"/>
        <result column="total_amount" property="totalAmount"/>
        <result column="reason" property="reason"/>
        <result column="status" property="status"/>
        <result column="admin_id" property="adminId"/>
        <result column="remark" property="remark"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <!-- 基础字段映射 -->
    <sql id="Base_Column_List">
        id, order_id, payment_id, refund_no, transaction_id, out_refund_no, 
        refund_amount, total_amount, reason, status, admin_id, remark, 
        create_time, update_time
    </sql>

    <!-- 根据订单ID查询退款记录 -->
    <select id="selectByOrderId" resultType="com.homemaker.entity.Refund">
        select 
            <include refid="Base_Column_List" />
        from refund_application
        where order_id = #{orderId}
        order by create_time desc
        limit 1
    </select>

    <!-- 根据退款单号查询退款记录 -->
    <select id="selectByRefundNo" resultType="com.homemaker.entity.Refund">
        select 
            <include refid="Base_Column_List" />
        from refund_application
        where refund_no = #{refundNo}
    </select>

    <!-- 根据商户退款单号查询退款记录 -->
    <select id="selectByOutRefundNo" resultType="com.homemaker.entity.Refund">
        select 
            <include refid="Base_Column_List" />
        from refund_application
        where out_refund_no = #{outRefundNo}
    </select>

    <!-- 根据筛选条件，分页查询订单列表 -->
    <select id="selectByPage" resultMap="RefundVOResultMap">
        select
        ra.id, ra.order_id, o.order_no,o.status as order_status,ra.payment_id, ra.refund_no, ra.transaction_id, ra.out_refund_no,
        ra.refund_amount, ra.total_amount, ra.reason, ra.status, ra.admin_id, ra.remark,
        ra.create_time, ra.update_time
        from refund_application ra
        left join 
            "order" o
        on ra.order_id = o.id
        <where>
            <if test="params.orderNo != null and params.orderNo != ''">
                and o.order_no = #{params.orderNo}
            </if>
            <if test="params.status != null and params.status != ''">
                and ra.status = #{params.status}
            </if>
        </where>
        order by ra.create_time desc
    </select>

</mapper>